[Unit]
Description=uvicorn instance for the Huggingface Model Manager frontend
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/opt/hfmm
Environment="DEVEL_TEST=false"
Environment="RATER_PROCESSES=1"
Environment="PROD_DB_LOCATION=172.31.10.22:3306/artifacts_db"
Environment="REDIS_HOST=172.31.10.22"
Environment="REDIS_PORT=6379"
Environment="GIT_PYTHON_GIT_EXECUTABLE=/usr/bin/git"
ExecStart=/opt/hfmm/venv/bin/uvicorn src.backend_server.__main__:api_core --workers 3 --uds /opt/hfmm/hfmm.sock --proxy-headers

[Install]
WantedBy=multi-user.target