name: Deploy backend to ec2

on:
    push:
        branches: [ "main" ]

permissions:
    contents: read

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: install dependencies
              run: |
                sudo snap install aws-cli --classic
            - name: Copy files to EC2
              env: 
                AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
                AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
                EC2_USER: ${{ secrets.EC2_USER }}
                EC2_INSTANCE: ${{ secrets.EC2_INSTANCE }}
              run: |
                sudo ssh-keygen -b 2048 -t rsa -f /tmp_ssh -q -N ""
                mkdir -p ~/.aws
                cat << EOF > ~/.aws/config 
                [default]
                region = us-east-2
                EOF
                cat << EOF > ~/.aws/credentials
                [default]
                aws_access_key_id=$AWS_ACCESS_KEY_ID
                aws_secret_access_key=$AWS_SECRET_ACCESS_KEY
                aws_session_token=$AWS_SESSION_TOKEN
                EOF
                aws ec2 start-instances --instance-ids i-0f6f64fd8c1426c72
                # src folder
                aws ec2-instance-connect send-ssh-public-key --instance-id $EC2_INSTANCE --instance-os-user $EC2_USER --ssh-public-key "file://tmp_ssh.pub"
                scp -o StrictHostKeyChecking=no -i file://tmp_ssh -o ProxyCommand='aws ec2-instance-connect open-tunnel --instance-id $EC2_INSTANCE' -r src $EC2_USER@$EC2_INSTANCE:/home/$EC2_USER
                # requirements.txt
                aws ec2-instance-connect send-ssh-public-key --instance-id $EC2_INSTANCE --instance-os-user $EC2_USER --ssh-public-key "file://tmp_ssh.pub"
                scp -o StrictHostKeyChecking=no -i file://tmp_ssh -o ProxyCommand='aws ec2-instance-connect open-tunnel --instance-id $EC2_INSTANCE' -r src $EC2_USER@$EC2_INSTANCE:/home/$EC2_USER
                # final setup
                aws ssh --instance-id $EC2_INSTANCE --os-user $EC2_USER << 'ENDSSH'
                cd /home/$EC2_USER
                sudo mkdir -p /opt/hfmm
                sudo chown $EC2_USER:www-data /opt/hfmm
                chmod 775 /opt/hfmm
                sudo chmod 775 /opt/hfmm
                sudo apt install python python-virtualenv nginx uvicorn
                cd /opt/hfmm
                cp /home/$EC2_USER/src/ .
                cp /home/$EC2_USER/requirements.txt .
                python -m venv venv
                source venv/bin/activate
                pip install -r requirements.txt
                sudo cp -rf src/backend_server/server_components/nginx/hfmm /etc/nginx/sites-available/hfmm
                sudo cp -rf src/backend_server/server_components/services/* /etc/systemd/system/hfmm.service
                rm -r /home/$EC2_USER/src
                rm /home/$EC2_USER/requirements.txt
                sudo systemctl daemon-reload
                sudo systemctl restart nginx
                sudo systemctl restart hfmm
                ENDSSH
                rm ec2_key.pem

