name: Deploy backend to ec2

on:
    push:
        branches: [ "main" ]

permissions:
    contents: read
    id-token: write

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Sign in to AWS
              uses: aws-actions/configure-aws-credentials@main
              with:
                  role-to-assume: arn:aws:iam::242254662921:role/github-deployment
                  aws-region: us-east-2
            - name: Copy files to EC2
              env: 
                EC2_USER: ${{ secrets.EC2_USER }}
                EC2_INSTANCE: ${{ secrets.EC2_INSTANCE }}
                REPO_PRIVATE_KEY: ${{ secrets.REPO_PRIVATE_KEY }}
                REPO_PUBLIC_KEY: ${{ secrets.REPO_PUBLIC_KEY }}
                EC2_PRIVATE_KEY: ${{ secrets.EC2_PRIVATE_KEY }}
              run: |
                aws ec2 start-instances --instance-ids $EC2_INSTANCE
                # final setup
                touch ~/.ssh/config
                cat << EOF > ~/.ssh/config
                Host *
                  StrictHostKeyChecking no
                  UserKnownHostsFile /dev/null
                EOF
                aws ec2-instance-connect ssh --instance-id $EC2_INSTANCE --os-user ubuntu --connection-type eice << 'ENDSSH'
                mkdir -p ~/.ssh/
                echo "${{ secrets.REPO_PRIVATE_KEY }}" > ~/.ssh/id_github
                chmod 600 ~/.ssh/id_github
                echo "${{ secrets.REPO_PUBLIC_KEY }}" > ~/.ssh/id_github.pub
                eval $(ssh-agent)
                ssh-add ~/.ssh/id_github
                mkdir -p ~/tmp
                cd ~/tmp
                ssh-keyscan github.com >> ~/.ssh/known_hosts
                git clone git@github.com:Purdue-ECE30861-Project/HuggingFace-Model-Manager-Phase-2.git
                sudo mkdir -p /opt/hfmm
                sudo chown ${{ secrets.EC2_USER }}:www-data /opt/hfmm
                sudo chmod 775 /opt/hfmm
                sudo apt install -y python3 python3.12-venv nginx
                cd /opt/hfmm
                cp -rf ~/tmp/HuggingFace-Model-Manager-Phase-2/src/ .
                cp -rf ~/tmp/HuggingFace-Model-Manager-Phase-2/requirements.txt .
                python3 -m venv venv
                source venv/bin/activate
                pip3 install -r requirements.txt
                pip3 install uvicorn
                sudo cp -rf src/backend_server/server_components/nginx/hfmm /etc/nginx/sites-available/hfmm
                sudo ln -s /etc/nginx/sites-available/hfmm /etc/nginx/sites-enabled/hfmm
                sudo unlink /etc/nginx/sites-enabled/default
                sudo cp -rf src/backend_server/server_components/services/* /etc/systemd/system/hfmm.service
                rm -r ~/tmp/*
                sudo systemctl daemon-reload
                sudo systemctl enable nginx
                sudo systemctl restart nginx
                sudo systemctl enable hfmm
                sudo systemctl restart hfmm
                ENDSSH
                rm ec2_key.pem

