name: Deploy frontend to lightsail

on:
    push:
        branches: [ "main" ]

permissions:
    contents: read

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            
            - name: Copy files to Lightsail
              env: 
                PEM_KEY: ${{ secrets.LIGHTSAIL_PEM_KEY }}
                LIGHTSAIL_USER: ${{ secrets.LIGHTSAIL_USER }}
                LIGHTSAIL_IP: ${{ secrets.LIGHTSAIL_IP }}
              run: |
                echo "$PEM_KEY" > lightsail_key.pem
                chmod 600 lightsail_key.pem
                scp -o StrictHostKeyChecking=no -i lightsail_key.pem -r src $LIGHTSAIL_USER@$LIGHTSAIL_IP:/opt/hfmm/tmp
                ssh -i lightsail_key.pem $LIGHTSAIL_USER@$LIGHTSAIL_IP << 'ENDSSH'
                cd /opt/hfmm/tmp
                cp -rf  src ..
                sudo cp -rf frontend_server/server_components/nginx/hfmm /etc/nginx/sites-available/hfmm
                sudo cp -rf frontend_server/server_components/services/* /etc/systemd/system/hfmm.service
                cd ..
                rm -r tmp/*
                sudo systemctl daemon-reload
                sudo systemctl restart nginx
                sudo systemctl restart hfmm
                ENDSSH
                rm lightsail_key.pem

